  <ul class="can_list">
    <li class="can_item"><span>Webサイト<br>作成</span></li>
    <li class="can_item"><span>Webサイト<br>リニューアル</span></li>
    <li class="can_item"><span>WordPress<br>導入</span></li>
    <li class="can_item"><span>Web<br>ディレクション</span></li>
    <li class="can_item"><span>動画編集<br>動画広告</span></li>
    <li class="can_item"><span>ロゴ<br>デザイン</span></li>
    <li class="can_item"><span>イラスト<br>制作</span></li>
    <li class="can_item"><span>グラフィック<br>デザイン</span></li>
  </ul>
