<div class="swiper-container">
  <article class="swiper-wrapper">
    <article class="swiper-slide">
      <a class="swiperCard" href="">
        <figure class="swiperCard_img">
          <div class="new"></div>
          <img src="/img/blog/thumbnail.png" alt="">
        </figure>
        <div class="swiperCard_body">
          <div class="swiperCard_tag">ディレクション</div>
          <p class="swiperCard_time">YYYY/MM/DD</p>
          <h2 class="swiperCard_title">このテキストは20pxBoldの設定。文字数は28だよ。</h2>
          <div class="swiperCard_author">
            <img src="/img/blog/author.png" alt="">
            <p>さいとぅ</p>
          </div><!-- /.author -->
        </div>
      </a>
    </article><!-- /.swiper-slide -->
    <article class="swiper-slide">
      <a class="swiperCard" href="">
        <figure class="swiperCard_img">
          <img src="/img/blog/thumbnail.png" alt="">
        </figure>
        <div class="swiperCard_body">
          <div class="swiperCard_tag">Webデザイン</div>
          <p class="swiperCard_time">YYYY/MM/DD</p>
          <h2 class="swiperCard_title">このテキストは20pxBoldの設定。文字数は28だよ。</h2>
          <div class="swiperCard_author">
            <img src="/img/blog/author.png" alt="">
            <p>さいとぅ</p>
          </div><!-- /.author -->
        </div>
      </a>
    </article><!-- /.swiper-slide -->
    <article class="swiper-slide">
      <a class="swiperCard" href="">
        <figure class="swiperCard_img">
          <img src="/img/blog/thumbnail.png" alt="">
        </figure>
        <div class="swiperCard_body">
          <div class="swiperCard_tag">Webデザイン</div>
          <p class="swiperCard_time">YYYY/MM/DD</p>
          <h2 class="swiperCard_title">このテキストは20pxBoldの設定。文字数は28だよ。</h2>
          <div class="swiperCard_author">
            <img src="/img/blog/author.png" alt="">
            <p>さいとぅ</p>
          </div><!-- /.author -->
        </div>
      </a>
    </article><!-- /.swiper-slide -->
    <article class="swiper-slide">
      <a class="swiperCard" href="">
        <figure class="swiperCard_img">
          <img src="/img/blog/thumbnail.png" alt="">
        </figure>
        <div class="swiperCard_body">
          <div class="swiperCard_tag">Webデザイン</div>
          <p class="swiperCard_time">YYYY/MM/DD</p>
          <h2 class="swiperCard_title">このテキストは20pxBoldの設定。文字数は28だよ。</h2>
          <div class="swiperCard_author">
            <img src="/img/blog/author.png" alt="">
            <p>さいとぅ</p>
          </div><!-- /.author -->
        </div>
      </a>
    </article><!-- /.swiper-slide -->
    <article class="swiper-slide">
      <a class="swiperCard" href="">
        <figure class="swiperCard_img">
          <img src="/img/blog/thumbnail.png" alt="">
        </figure>
        <div class="swiperCard_body">
          <div class="swiperCard_tag">Webデザイン</div>
          <p class="swiperCard_time">YYYY/MM/DD</p>
          <h2 class="swiperCard_title">このテキストは20pxBoldの設定。文字数は28だよ。</h2>
          <div class="swiperCard_author">
            <img src="/img/blog/author.png" alt="">
            <p>さいとぅ</p>
          </div><!-- /.author -->
        </div>
      </a>
    </article><!-- /.swiper-slide -->
    <article class="swiper-slide">
      <a class="swiperCard" href="">
        <figure class="swiperCard_img">
          <img src="/img/blog/thumbnail.png" alt="">
        </figure>
        <div class="swiperCard_body">
          <div class="swiperCard_tag">Webデザイン</div>
          <p class="swiperCard_time">YYYY/MM/DD</p>
          <h2 class="swiperCard_title">このテキストは20pxBoldの設定。文字数は28だよ。</h2>
          <div class="swiperCard_author">
            <img src="/img/blog/author.png" alt="">
            <p>さいとぅ</p>
          </div><!-- /.author -->
        </div>
      </a>
    </article><!-- /.swiper-slide -->
  </article><!-- /.swiper-wrapper -->
  <div class="swiper-pagination"></div>
</div><!-- /.swiper-container -->
