// ============= 使用ファイル =============
@use "../setting/" as s;
@use "../mixin/" as m;

/*! ===================================
お問い合わせ一覧
==================================== */
.contactBox{
  @include m.t-fullGradation;
  @include m.responsive(margin-bottom, 40px, 60px, 768px, 1200px);
    @include m.mq(md) {
      margin-bottom: 40px;
    }
  &.mb0{
    margin-bottom: 0;
  }

  &_wrap{
    @include m.innerBox;
      @include m.mq(sm) {
        max-width: 350px;
      }
  }

  &_list01{
    display: flex;
    flex-wrap: wrap;
    @include m.responsive(max-width, 580px, 1100px, 580px, 1200px);
    margin: 0 auto;
    padding: 4% 0;
      @include m.mq(sm) {
        display: none;
      }
  }

  &_item{
    display: flex;
    flex-direction: column;
    width: calc(33.3% - 5% * 2 / 3);
    height: auto;
    margin-left: 5%;
      &:first-child{
        margin-left: 0;
      }
    padding: 2.5% 1.5%;
    border-radius: 10px;
    background-color: s.$white01;

      @include m.mq(md) {
        width: calc(33.3% - 3% * 2 / 3);
        margin-left: 3%;
      }
  }

  &_list02{
    display: none;
      @include m.mq(sm) {
        display: flex;
        flex-wrap: wrap;
        padding: 50px 0;
      }
  }

  &_item-sp{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: s.$white01;
  }

  &_item-sp01{
    width: calc(50% - 10px * 1 / 2);
      &:first-child{
        margin-right: 10px;
      }
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: s.$white01;
      a{
        display: flex;
        flex-direction: column;
        padding: 9.68% 10px;
        height: 100%;
      }
  }

  &_item-sp02{
    padding: 9.68% 7%;
  }

  &_title{
    @include m.responsive(font-size, 1.25rem, 1.5rem, 48rem, 75rem);
    font-weight: 700;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0;
      @include m.mq(md) {
        font-size: s.rem(18px);
        font-weight: 500;
      }
      @include m.mq(xs) {
        font-size: s.rem(16px);
      }
    }

    &_title01{
      @include m.mq(sm) {
        padding-right: 10px;
        font-size: s.rem(22px);
        text-align: right;
        line-height: 56px;
        letter-spacing: 0;
      }
      @include m.mq(xs) {
        font-size: s.rem(18px);
      }
    }

  &_img01{ //wepot
    @include m.responsive(width, 78px, 117px, 768px, 1200px);
    @include m.responsive(height, 60px, 90px, 768px, 1200px);
    margin: 7.95% auto 8.56%;
      @include m.mq(sm) {
        width: 85px;
        height: 65px;
        margin: 0 auto 14.5%;
      }
  }
  &_img02{ //member
    @include m.responsive(width, 80px, 120px, 768px, 1200px);
    @include m.responsive(height, 60px, 90px, 768px, 1200px);
    margin: 7.95% auto 8.56%;
      @include m.mq(sm) {
        width: 85px;
        height: 65px;
        margin: 0 auto 14%;
      }
  }
  &_img03{ //balloon
    @include m.responsive(width, 90px, 135px, 768px, 1200px);
    @include m.responsive(height, 60px, 90px, 768px, 1200px);
    margin: 7.95% auto 8.56%;
    @include m.mq(sm) {
      position: absolute;
      width: 84px;
      height: 56px;
      margin: 0 10px;
    }
  }
  &_img04{ //works
    @include m.responsive(width, 102px, 153px, 768px, 1200px);
    @include m.responsive(height, 60px, 90px, 768px, 1200px);
    margin: 7.95% auto 8.56%;
      @include m.mq(sm) {
        width: 96px;
        height: 56px;
        margin: 7% auto 14.5%;
      }
  }

  img{
    width: 100%;
  }

  &_text{
    margin-bottom: 7.59%;
    flex-grow: 1;
    @include m.responsive(font-size, .875rem, 1rem, 48rem, 75rem);
    text-align: center;
    line-height: 1.5;
      @include m.mq(sm) {
        margin: 10px 0 15px;
        font-size: s.rem(14px);
      }
  }

  &_btn{
    @include m.responsive(width, 146px, 250px, 768px, 1200px);
    margin: 0 auto;
  }
}