// ============= 使用ファイル =============
@use "../setting/" as s;
@use "../mixin/" as m;

/*! ===================================
トップページ記事一覧
==================================== */
.topPage{
  margin-top: 7.032%;
    @include m.mq(md) {
      margin-top: 40px;
    }
}

.topArticle{
  display: flex;
  flex-wrap: nowrap;
  @include m.innerBox;
  @include m.responsive(margin-top, 30px, 50px, 768px, 1200px);
    @include m.mq(md) {
      margin-top: 20px;
    }

  &_wrap{
    width: 100%;
    max-width: 840px;
    margin-right: 40px;
      @include m.mq(md) {
        margin-right: 0;
      }
  }

  &_list{
    @include m.responsive(margin-bottom, 30px, 50px, 768px, 1200px);
      @include m.mq(md) {
        margin-bottom: 40px;
      }
  }

  &_item{
    @include m.responsive(margin-bottom, 30px, 50px, 768px, 1200px);
    padding: 3.81% 2.97%;
    border-radius: 10px;
    background-color: s.$gray01;
      @include m.mq(md) {
        margin-bottom: 20px;
        padding: 10px;
      }
      @include m.mq(sm) {
        padding: 5px 9px 5px 5px;
      }
  }

  &_link{
    display: flex;
    align-items: center;
  }

  &_img{
    width: 48.61%;
    max-width: 384px;
    height: 27.34%;
      @include m.mq(md) {
        max-width: 230px;
        margin-right: 10px;
      }
      @include m.mq(sm) {
        width: 90px;
        height: 90px;
      }

    img{
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      
        @include m.mq(sm) {
          object-fit: cover;
          object-position: center center;
        }
    }
  }

  &_body{
    position: relative;
    width: 47.85%;
    margin-left: auto;
      @include m.mq(md) {
        width: 60%;
      }
      @include m.mq(sm) {
        width: calc(100% - 100px);
        margin-left: 0;
      }
  }

  &_time{
    padding-top: 3px;
    color: s.$gray02;
    @include m.responsive(font-size, .875rem, 1.5rem, 48rem, 75rem);
    font-weight: 700;
      @include m.mq(xs) {
        font-size: s.rem(10px);
      }
  }

  &_tag{
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
    @include m.responsive(width, 120px, 200px, 768px, 1200px);
    @include m.responsive(height, 25px, 40px, 768px, 1200px);
    padding: 4px;
    background-color: s.$green01;
    color: s.$white01;
    @include m.responsive(font-size, .75rem, 1.25rem, 48rem, 75rem);
    font-weight: 700;
    text-align: center;
      @include m.mq(sm) {
        width: 100px;
      }
      @include m.mq(xs) {
        width: 90px;
        height: 20px;
        padding: 3px;
        font-size: s.rem(10px);
      }
  }

  &_title{
    margin: 5.82% 0 6.35%;
    @include m.responsive(font-size, 1rem, 1.5rem, 48rem, 75rem);
    font-weight: 700;
      @include m.mq(md) {
        margin: 15px 0 10px;
        font-size: s.rem(14px);
      }
      @include m.mq(sm) {
        margin: 10px 0 0;
      }
  }

  &_author{
    display: flex;
    align-items: center;

    img{
      display: inline-block;
      @include m.responsive(width, 40px, 60px, 768px, 1200px);
      @include m.responsive(height, 40px, 60px, 768px, 1200px);
      border-radius: 50%;
    }
    
    p{
      margin-left: 5.3%;
      @include m.responsive(font-size, .75rem, 1.0625rem, 48rem, 75rem);
        @include m.mq(md) {
          margin-left: 10px;
        }
    }

    @include m.mq(sm) {
      display: none;
    }
  }
}

/*! ===================================
SP用カテゴリーリスト／検索ボックス表示
==================================== */
.topCategory-sp{
  display: none;
    @include m.mq(md) {
      display: block;
      margin-top: 50px;
    }
}

.topNone{
  @include m.mq(md) {
    display: none;
  }
}

