<%- include('../../template/_head', { page: jsonData['member'] }); %>
  <%- include('../../template/_header' ); %>
    <main class="main-contents">
      <section class="pageVisual bg01">
        <header class="pageVisual_heading">
          <h1 class="pageVisual_title">メンバー</h1>
        </header>
      </section><!-- /.pageVisual -->

      <section class="section_container memberPage">
        <div class="section_inner">
          <p class="section_text">Wepotは、強みが違う自立したフリーランスで構成されるクリエイティブチームで構成されています。それぞれに経験してきた分野が違うからこそ、お互いにリスペクトしています。ちょっとキャラが濃い・個性的。でも共通しているのはみんな創ることに情熱を注いでいる。そんなメンバーを紹介しているので、よかったらご覧ください。</p>
          <div class="member">
            <ul class="member_list">
              <li class="member_item">
                <a href="/about/member/honma/" class="member_link">
                  <figure class="member_img"><img src="/img/member/honma.png" alt=""></figure>
                  <p class="position">プロジェクトマネージャー/<br>ディレクター</p>
                  <p class="name">本間&nbsp;大光</p>
                </a>
              </li>
              <li class="member_item">
                <a href="/about/member/ayaka/" class="member_link">
                  <figure class="member_img"><img src="/img/member/ayaka.png" alt=""></figure>
                  <p class="position">動画・映像編集者/<br>Webデザイナー/<br>ディレクター</p>
                  <p class="name">鈴木&nbsp;綾加</p>
                </a>
              </li>
              <li class="member_item">
                <a href="/about/member/sato/" class="member_link">
                  <figure class="member_img"><img src="/img/member/yosuke.png" alt=""></figure>
                  <p class="position">グロースハッカー/<br>デザイナー/<br>ディレクター</p>
                  <p class="name">佐藤&nbsp;陽介</p>
                </a>
              </li>
              <li class="member_item">
                <a href="/about/member/yukix/" class="member_link">
                  <figure class="member_img"><img src="/img/member/yukix.png" alt=""></figure>
                  <p class="position">デザイナー/<br>アートディレクター/<br>Web制作クリエイター</p>
                  <p class="name">黒羽&nbsp;裕子</p>
                </a>
              </li>
              <li class="member_item">
                <a href="/about/member/tomoni/" class="member_link">
                  <figure class="member_img"><img src="/img/member/tomo.png" alt=""></figure>
                  <p class="position">グラフィックデザイナー/<br>イラストレーター/<br>Webデザイナー/<br>動画クリエイター</p>
                  <p class="name">奥田&nbsp;朋美</p>
                </a>
              </li>
              <li class="member_item">
                <a href="/about/member/saito/" class="member_link">
                  <figure class="member_img"><img src="/img/member/saito.png" alt=""></figure>
                  <p class="position">デザイナー</p>
                  <p class="name">齋藤&nbsp;広大</p>
                </a>
              </li>
              <li class="member_item">
                <a href="/about/member/maruo/" class="member_link">
                  <figure class="member_img"><img src="/img/member/maruo.png" alt=""></figure>
                  <p class="position">マークアップエンジニア</p>
                  <p class="name">丸尾&nbsp;麻紀子</p>
                </a>
              </li>
            </ul>
          </div><!-- /.member_wrap -->
        </div><!-- /.section_inner -->
      </section><!-- /.section_container -->

      <section class="contactBox">
        <div class="contactBox_wrap">
          <ul class="contactBox_list01">
            <li class="contactBox_item">
              <h3 class="contactBox_title">Wepotについて</h3>
              <div class="contactBox_img01">
                <img src="/img/icon/wepot.png" alt="">
              </div>
              <p class="contactBox_text">Wepotはデジタルクリエイティブで課題を抱えるすべての人への解決策を提示できます。</p>
              <div class="contactBox_btn">
                <a href="/about/" class="button02"><span>詳細はこちら</span></a>
              </div>
            </li><!-- /.contactBox_item -->
            <li class="contactBox_item">
              <h3 class="contactBox_title">実績一覧</h3>
              <div class="contactBox_img04">
                <img src="/img/icon/works.png" alt="">
              </div>
              <p class="contactBox_text">Wepotには多種多様な実績があります。メンバーの強みが生きた実績をご覧ください</p>
              <div class="contactBox_btn">
                <a href="/works/" class="button02"><span>実績一覧をみる</span></a>
              </div>
            </li><!-- /.contactBox_item -->
            <li class="contactBox_item">
              <h3 class="contactBox_title">制作のご相談</h3>
              <div class="contactBox_img03">
                <img src="/img/icon/balloon.png" alt="">
              </div><!-- /.contactBox_img -->
              <p class="contactBox_text">現在抱えている課題を教えてください！あなただけのクリエイティブチームで解決に導きます！</p>
              <div class="contactBox_btn">
                <a href="/contact/" class="button02"><span>相談してみる</span></a>
              </div>
            </li><!-- /.contactBox_item -->
          </ul><!-- /.contactBox_list01 -->
      
          <ul class="contactBox_list02">
            <li class="contactBox_item-sp contactBox_item-sp01">
              <a href="/about/">
                <div class="contactBox_img01">
                  <img src="/img/icon/wepot.png" alt="">
                </div>
                <h3 class="contactBox_title">Wepotについて</h3>
              </a>
            </li><!-- /.contactBox_item -->
            <li class="contactBox_item-sp contactBox_item-sp01">
              <a href="/works/">
                <div class="contactBox_img04">
                  <img src="/img/icon/works.png" alt="">
                </div>
                <h3 class="contactBox_title">実績一覧</h3>
              </a>
            </li><!-- /.contactBox_item -->
            <li class="contactBox_item-sp contactBox_item-sp02">
              <h3 class="contactBox_title contactBox_title01">制作のご相談</h3>
              <div class="contactBox_img03">
                <img src="/img/icon/balloon.png" alt="">
              </div>
              <p class="contactBox_text">現在抱えている課題を教えてください！あなただけのクリエイティブチームで解決に導きます！</p>
              <div class="contactBox_btn">
                <a href="/contact/" class="button02"><span>相談してみる</span></a>
              </div>
            </li><!-- /.contactBox_item -->
          </ul><!-- /.contactBox_list01 -->
        </div><!-- /.contactBox_wrap -->
      </section><!-- /.contactBox -->

      <section class="section_container">
        <div class="section_inner">
          <header class="section_heading">
            <h2 class="section_title">おすすめ記事</h2>
          </header>
          <%- include( '../../template/_swiperCard' ) %>
            <div class="more">
              <a href="/blog/" class="button03">記事一覧をみる</a>
            </div><!-- /.more -->
        </div><!-- /.section_inner -->
      </section><!-- /.section_container -->
    </main>
    <%- include( '../../template/_footer' ) %>