// ============= 使用ファイル =============
@use "../setting/" as s;
@use "../mixin/" as m;

/*! ===================================
広告枠
==================================== */
.advertisement{
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  @include m.responsive(margin-bottom, 40px, 60px, 768px, 1200px);
    @include m.mq(sm) {
      max-width: 350px;
    }
}