// ============= 使用ファイル =============
@use "../setting/" as s;
@use "../mixin/" as m;

/*! ===================================
記事一覧(swiper)
==================================== */
.swiper-container{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

.swiper-wrapper{
  padding: 50px 0 70px;
    @include m.mq(md) {
      padding: 40px 0 60px;
    }
}

.swiper-slide{
  display: flex;
  width: 100%;
  max-width: 384px;
  height: auto;
}

.swiper-container-horizontal>.swiper-pagination-bullets{
  bottom: 0;
    @include m.mq(md) {
      bottom: -10px;
    }

    .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      margin: 50px 10px 0;
      border: 2px solid s.$green01;
      background: s.$white01;
      opacity: 1;
    
      &-active{
        background: s.$green01;
      }

      @include m.mq(md) {
        margin: 10px;
      }
    }
}

/*! ===================================
ブログカード(swiper)
==================================== */
.swiperCard{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 384px;
  border-radius: 10px;
  background-color: s.$gray01;
  
  &_img{
    width: 100%;
    max-width: 384px;
    max-height: 216px;
    img{
      width: 100%;
      height: 100%;
      border-radius: 10px 10px 0 0;
    }
  }
  
  &_body{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 3.906% 5.208% 5.208%;
  }

  &_time{
    color: s.$gray02;
    @include m.responsive(font-size, .875rem, 1.125rem, 48rem, 75rem);
    font-weight: 500;
      @include m.mq(sm) {
        font-size: s.rem(12px);
      }
  }

  &_tag{
    position: absolute;
    display: inline-block;
    top: 10px;
    right: 10px;
    @include m.responsive(width, 100px, 150px, 768px, 1200px);
    background-color: s.$green01;
    color: s.$white01;
    @include m.responsive(font-size, .75rem, 1rem, 48rem, 75rem);
    font-weight: 500;
    text-align: center;
  }

  &_title{
    height: 100%;
    margin: 15px 0 20px;
    @include m.responsive(font-size, 1rem, 1.25rem, 48rem, 75rem);
    font-weight: 500;
    line-height: 1.5;
      @include m.mq(sm) {
        font-weight: 700;
      }
  }

  &_author{
    display: flex;
    align-items: center;
    margin-top: auto;
    img{
      display: inline-block;
      @include m.responsive(width, 40px, 55px, 768px, 1200px);
      @include m.responsive(height, 40px, 55px, 768px, 1200px);
      border-radius: 50%;
    }
    p{
      margin-left: 10px;
      @include m.responsive(font-size, .875rem, 1rem, 48rem, 75rem);
    }
  }
}