// ============= 使用ファイル =============
@use "../setting/" as s;
@use "../mixin/" as m;

/*! ===================================
記事一覧ページ
==================================== */
.blogPage{
  margin-top: 40px;
}

.blogCards{
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0 40px;
    @include m.mq(md) {
      display: block;
      margin: 20px 0 40px;
    }

    &_item{
      display: flex;
      width: calc(33.3% - 5% * 2 / 3);
      margin-top: 3.906%;
      margin-right: 5%;
        &:nth-child(-n + 3) {
          margin-top: 0;
        }
        &:nth-child(3n) {
          margin-right: 0;
        }

        @include m.mq(md) {
          display: block;
          width: 100%;
          margin: 20px 0 0 0;
            &:nth-child(n + 2):nth-child(-n + 3) {
              margin-top: 20px;
            }
        }
    }
}

.blogCard{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: s.$gray01;
    @include m.mq(md) {
      flex-direction: row;
      align-items: center;
      padding: 10px;
    }
    @include m.mq(sm) {
      padding: 5px 9px 5px 5px;
    }
  
  &_img{
    position: relative;
    max-width: 384px;
    max-height: 216px;
      @include m.mq(md) {
        width: 100%;
        max-width: 230px;
        margin-right: 10px;
      }
      @include m.mq(sm) {
        width: 90px;
        height: 90px;
      }

    img{
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 10px 10px 0 0;
        @include m.mq(md) {
          border-radius: 10px;
        }
        @include m.mq(sm) {
          object-fit: cover;
          object-position: center center;
        }
    }
  }

  &_body{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 3.906% 5.208% 5.208%;

      @include m.mq(md) {
        width: 60%;
        margin-left: auto;
        padding: 0;
      }
      @include m.mq(sm) {
        width: calc(100% - 100px);
        margin-left: 0;
      }
  }

  &_time{
    color: s.$gray02;
    @include m.responsive(font-size, .875rem, 1.125rem, 48rem, 75rem);
    font-weight: 500;
      @include m.mq(sm) {
        font-size: s.rem(11px);
      }
  }

  &_tag{
    position: absolute;
    display: inline-block;
    top: 10px;
    right: 10px;
    @include m.responsive(width, 100px, 150px, 768px, 1200px);
    background-color: s.$green01;
    color: s.$white01;
    @include m.responsive(font-size, .75rem, 1rem, 48rem, 75rem);
    font-weight: 500;
    text-align: center;
      @include m.mq(md) {
        top: 0;
        right: 0;
      }
      @include m.mq(sm) {
        width: 100px;
      }
      @include m.mq(xs) {
        width: 90px;
        font-size: s.rem(10px);
      }
  }

  &_title{
    display: flex;
    margin: 15px 0 20px;
    @include m.responsive(font-size, 1rem, 1.25rem, 48rem, 75rem);
    font-weight: 500;
    line-height: 1.5;
      @include m.mq(md) {
        margin: 10px 0;
        font-size: s.rem(15px);
      }
      @include m.mq(sm) {
        margin-bottom: 5px;
        font-weight: 700;
      }
  }

  &_author{
    display: flex;
    align-items: center;
    margin-top: auto;
    img{
      display: inline-block;
      @include m.responsive(width, 40px, 55px, 768px, 1200px);
      @include m.responsive(height, 40px, 55px, 768px, 1200px);
      border-radius: 50%;
    }
    p{
      margin-left: 10px;
      @include m.responsive(font-size, .75rem, 1rem, 48rem, 75rem);
    }

    @include m.mq(sm) {
      display: none;
    }
  }
}

.notArticle{
  margin: 0 auto 60px;
  font-size: s.rem(18px);
  font-weight: 500;
  text-align: center;
    @include m.mq(sm) {
      font-size: s.rem(16px);
      text-align: left;
      letter-spacing: .02em;
    }
}