// ============= 使用ファイル =============
@use "../setting/" as s;
@use "../mixin/" as m;

/*! ===================================
ボタン
==================================== */
// フッターボタン
.button01 {
  display: inline-block;
  width: 100%;
  padding: 8.4% 10px;
  border-radius: 30px;
  @include m.r-gradation;
  color: s.$white01;
  @include m.responsive(font-size, .9375rem, 1.125rem, 48rem, 75rem);
  text-align: center;
  line-height: 1;

    &:hover{
      opacity: .8;
    }
}


// グラデーションボーダー～グラデーション
.button02 {
  display: block;
  width: 100%;
  padding: 2px;
  border-radius: 30px;
  @include m.r-gradation;
  @include m.responsive(font-size, 1rem, 1.25rem, 48rem, 75rem);
  font-weight: 500;
  text-align: center;
  line-height: 1;

    >span{
      display: block;
      padding: 6.4% 10px;
      border-radius: 28px;
      background-color: s.$white01;
        &:hover{
          background-color: transparent;
          color: s.$white01;
          transition: background-color .3s ease-out
        }
    }
}


// グリーンボーダー
.button03{
  display: inline-block;
  width: 100%;
  padding: 15px 5px;
  border: 2px solid s.$green01;
  background-color: s.$white01;
  color: s.$green01;
  font-size: s.rem(18px);
  font-weight: 500;
  text-align: center;

    &:hover{
      background-color: s.$green01;
      color: s.$white01;
      transition: background-color .3s ease-out
    }

    @include m.mq(md) {
      padding: 9px 5px;
      font-weight: 400;
    }
}

// ブログ一覧を見る
.more{
  width: 250px;
  margin: 3.906% auto 0;
    @include m.mq(md) {
      width: 203px;
      margin-top: 30px;
    }
}
.more-member{
  width: 100%;
  max-width: 300px;
  margin: 3.906% auto 0;
    @include m.mq(md) {
      margin-top: 30px;
      padding: 0 10px;
    }
    .button03{
      @include m.mq(sm) {
        max-width: 280px;
        font-size: s.rem(17px);
      }
      @include m.mq(xs) {
        max-width: 260px;
        font-size: s.rem(16px);
      }
    }
}

// お問い合わせページ送信ボタン
.action_btn{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 0;
  display: block;
  @include m.responsive(width, 180px, 250px, 768px, 1200px);
  @include m.responsive(height, 44px, 60px, 768px, 1200px);
  margin: 0 auto;
  padding: .32em;
  border: none;
  background-color: s.$green01;
  color: s.$white01;
  @include m.responsive(font-size, 1.25rem, 1.65rem, 48rem, 75rem);
  font-weight: 500;
  text-align: center;
  letter-spacing: .05em;
  cursor: pointer;

    &:hover{
      opacity: .8;
    }

    @include m.mq(md) {
      width: 203px;
      height: 53px;
      font-size: 20px;
    }
}

// 404not found
.button04 {
  display: inline-block;
  width: 100%;
  padding: 1.1em 10px;
  border-radius: 30px;
  background-color: s.$black01;
  color: s.$white01;
  @include m.responsive(font-size, .875rem, 1.125rem, 48rem, 75rem);
  text-align: center;
  line-height: 1;

    &:hover{
      opacity: .8;
    }
}